{% extends 'base.html' %}

{% block title %}{{path}} listing{% endblock %}

{% block body %}
<h1>{{path}} listing</h1>
{% if allow_uploads %}
<section>
	<h2>Upload files</h2>
	<form action="" method="post" encoding="multipart/form-data">
		<input type="hidden" name="action" value="upload">
		<input type="file" multiple name="files">
		<input type="submit" value="Upload">
	</form>
</section>
{% endif %}
<section>
	<h2>Files</h2>
	{% if entries %}
	<form action="/download" method="post">
		<input type="hidden" name="prefix" value="{{path}}">
		<table class="file_table" id="table">
			<colgroup>
				<col class="checkbox">
				<col class="name">
				<col class="date">
				<col class="size">
			</colgroup>
			<thead>
				<tr>
					<th></th>
					<th id="name_header">Name</th>
					<th id="last_modified_header">Last modified</th>
					<th id="size_header">Size</th>
				</tr>
			</thead>
			<tbody>
				{% for entry in entries %}
				<tr>
					<td>{% if not entry.is_up %}<input name="file_selection" value="{{entry.path}}" type="checkbox" autocomplete="off">{% endif %}</td>
					<td data-sort="{{entry.name}}"><a href="{{entry.path}}">{{entry.name}}</a></td>
					<td data-sort="{{entry.timestamp}}"><time datetime="{{entry.timestamp}}"><abbr aria-label="{{entry.human_long_timestamp}}">{{entry.human_timestamp}}</abbr></time></td>
					<td data-sort="{{entry.size}}"><span aria-label="{{entry.human_long_size}}">{{entry.human_size}}</span></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<hr>
		<input type="submit" value="Download selection">
	</form>
	</ul>
	{% else %}
	<p>No files available.</p>
	{% endif %}
</section>
<script>{% include "table_sort.js" %}</script>
{% endblock %}
