{% extends 'base.html' %}

{% block title %}{{path}} listing{% endblock %}

{% block body %}
<h1>{{path}} listing</h1>
{% if allow_uploads %}
<section>
	<h2>Upload files</h2>
	<form action="" method="post" encoding="multipart/form-data">
		<input type="file" multiple name="files">
		<input type="submit" value="Upload">
	</form>
</section>
{% endif %}
<section>
	<h2>Files</h2>
	{% if entries %}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Last modified</th>
				<th>Size</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in entries %}
			<tr>
				<td data-sort="{{entry.name}}"><a href="{{entry.path}}">{{entry.name}}</a></td>
				<td data-sort="{{entry.timestamp}}"><time datetime="{{entry.timestamp}}"><abbr aria-label="{{entry.human_long_timestamp}}">{{entry.human_timestamp}}</abbr></time></td>
				<td data-sort="{{entry.size}}"><span aria-label="{{entry.human_long_size}}">{{entry.human_size}}</span></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</ul>
	{% else %}
	<p>No files available.</p>
	{% endif %}
</section>
{% endblock %}
