* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
	list-style: none;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr auto;
	min-height: 100vh;
}

main > h1, main > section {
	width: 98%;
	max-width: 100ch;
	margin: 0 auto;
}

main > h1 {
	text-align: center;
}

footer > p {
	margin: 1rem auto;
	text-align: center;
}

main > h1 {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

hr {
	margin: 0.5rem;
}

/* Sections */

main > section {
	border: 1px solid #000000;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
}

main > section:not(:first-of-type) {
	margin-top: 1rem;
}

/* File table */

table.file_table {
	width: 100%;
	border-collapse: collapse;
}

table.file_table > thead > tr > th {
	font-weight: 700;
}

table.file_table > tbody > tr:nth-child(2n) {
	background: #EEEEEE;
}

table.file_table > tbody > tr {
	height: 1.7rem;
}

table.file_table > tbody > tr > td:nth-of-type(3) {
	text-align: right;
}

table.file_table > tbody > tr > td:nth-of-type(4) {
	text-align: " " right; /* not yet supported on any browser */
	text-align: right;
}

th button {
	border: 1px solid #000;
	background: none transparent;
	color: #000;
	border-radius: 0.5rem;
	padding: 0 0.2rem;
	margin-left: 0.4rem;
}
